.container {
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding: 20px;
}

.view {
    display: grid;
    align-items: center;
    width: fit-content;
    background: black;
    color: #fff;
    width: 11em;
    height: 2em;
    border-radius: 1.5em;
    font-size: 1em;
    cursor: pointer;
}